################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Logging/bin
/Logging/obj
/Logging/.vs/Logging
/Tests/bin
/Tests/obj
/Logging.sln.DotSettings.user
